apiVersion: apps/v1
kind: Deployment
metadata:
  name: apps-legal

spec:
  replicas: 1

  template:
    spec:
      containers:
        - name: apps-legal
          image: apetitoebusinesssolutions.azurecr.io/meinapetito-apps-legal:<Tag>
          env:
            - name: VUE_APP_ENVIRONMENT
              value: Development
            - name: VUE_APP_PRISMIC_REPOSITORY
              value: meinapetito-development
