apiVersion: apps/v1
kind: Deployment
metadata:
  name: apps-user-account-details

spec:
  replicas: 1

  template:
    spec:
      containers:
        - name: apps-user-account-details
          image: apetitoebusinesssolutions.azurecr.io/meinapetito-apps-user-account-details:<Tag>
          env:
            - name: VUE_APP_ENVIRONMENT
              value: Development
            - name: VUE_APP_PRISMIC_REPOSITORY
              value: meinapetito-development
